osx-xcode/build/
bin/KinectExtension.exp
bin/KinectExtension.lib
bin/KinectExtension.pdb
Release/
win-visualstudio/ipch/
win-visualstudio/KinectExtension.sdf
win-visualstudio/KinectExtension.suo
/win-visualstudio/Debug
/win-visualstudio/KinectExtension/Debug
/win-visualstudio/KinectExtension.opensdf