
.actionScriptProperties

.flexLibProperties

.project

.settings/org.eclipse.core.resources.prefs

assets/build/build.properties

assets/build/build.xml

assets/extension/extension.xml

assets/extension/mac/KinectExtension.framework/KinectExtension

assets/extension/mac/KinectExtension.framework/Resources/Info.plist

assets/extension/mac/KinectExtension.framework/Resources/en.lproj/InfoPlist.strings

assets/extension/mac/KinectExtension.framework/Versions/A/KinectExtension

assets/extension/mac/KinectExtension.framework/Versions/A/Resources/Info.plist

assets/extension/mac/KinectExtension.framework/Versions/A/Resources/en.lproj/InfoPlist.strings

assets/extension/mac/KinectExtension.framework/Versions/Current/KinectExtension

assets/extension/mac/KinectExtension.framework/Versions/Current/Resources/Info.plist

assets/extension/mac/KinectExtension.framework/Versions/Current/Resources/en.lproj/InfoPlist.strings

bin/cert/debugCert.p12
