
.actionScriptProperties

.flexLibProperties

.fxpProperties

.project

.settings/org.eclipse.core.resources.prefs

build/*

extension/*

cert/*

docs/*

examples/*
/assets
/airkinect-2-core.iml
/bin-debug
/.fxpProperties