osx-xcode/build/
bin/*.exp
bin/*.lib
bin/*.pdb
bin/*.dSYM/
Release/
win-visualstudio/ipch/
win-visualstudio/KinectExtension.sdf
win-visualstudio/KinectExtension.suo
win-visualstudio/Debug
win-visualstudio/KinectExtension/Debug
win-visualstudio/KinectExtension/Release
win-visualstudio/KinectExtension/Release-MSSDK
win-visualstudio/KinectExtension/Release-OpenNI
win-visualstudio/KinectExtension.opensdf