osx-xcode/build/
bin/*.exp
bin/*.lib
bin/*.pdb
Release/
win-visualstudio/ipch/
win-visualstudio/KinectExtension.sdf
win-visualstudio/KinectExtension.suo
win-visualstudio/Debug
win-visualstudio/KinectExtension/Debug
win-visualstudio/KinectExtension/Release
win-visualstudio/KinectExtension/Release-MSSDK
win-visualstudio/KinectExtension/Release-OpenNI
win-visualstudio/KinectExtension.opensdf
osx-xcode/.DS_Store

bin/.DS_Store
